<!-- Validation failure messages -->
<% if @food_order.errors.any? %>
  <% @food_order.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Food Order #<%= @food_order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_food_order/<%= @food_order.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <div class="form-group">
        <label for="food_id" class="control-label">
          Food
        </label>

        <%= select_tag(:food_id, options_from_collection_for_select(FoodItem.all, :id, :name, @food_order.food_id), :class => "form-control") %>
      </div>

      <!-- Label and input for bar_id -->
      <div class="form-group">
        <label for="bar_id" class="control-label">
          Bar
        </label>

        <%= select_tag(:bar_id, options_from_collection_for_select(Bar.all, :id, :name, @food_order.bar_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Food Order
      </button>
      or
      <a href="/food_orders/<%= @food_order.id %>">Cancel</a>
    </form>
  </div>
</div>
