<div class="page-header">
  <h3>Food Order #<%= @food_order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Food</dt>
      <dd><%= @food_order.food_id %></dd>

      <dt>Bar</dt>
      <dd><%= @food_order.bar_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/food_orders" class="btn btn-primary">
        Back
      </a>
      <a href="/food_orders/<%= @food_order.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food_order/<%= @food_order.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
