<div class="page-header">
  <h3><%= @bar.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    

      <dt>Style</dt>
      <dd><%= @bar.style %></dd>

      <dt>Cuisine</dt>
      <dd><%= @bar.cuisine %></dd>

      <dt>Happy hour start time</dt>
      <dd><%= @bar.happy_hour_start_time %></dd>

      <dt>Happy hour end time</dt>
      <dd><%= @bar.happy_hour_end_time %></dd>
      
      <dt>Address</dt>
      <dd>
        <div>
          <div id="location_map" style="height: 480px;"></div>
        </div>
      </dd>
    
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bars" class="btn btn-primary">
        Back
      </a>
      <a href="/bars/<%= @bar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bar/<%= @bar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bar has many food_orders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Food Orders
      </li>

      <% @bar.food_orders.each do |food_order| %>
        <li class="list-group-item">
          <a href="/food_orders/<%= food_order.id %>">
            <%= food_order.food_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/food_orders/<%= food_order.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/food_orders/<%= food_order.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_food_order/<%= food_order.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_food_order" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <div class="form-group">
        <label for="food_id" class="control-label">
          Food
        </label>

        <%= select_tag(:food_id, options_from_collection_for_select(FoodItem.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for bar_id -->
      <input type="hidden" name="bar_id" value="<%= @bar.id %>">

      <button class="btn btn-block btn-success">
        Create Food Order
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bar has many drink_orders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Drink Orders
      </li>

      <% @bar.drink_orders.each do |drink_order| %>
        <li class="list-group-item">
          <a href="/drink_orders/<%= drink_order.id %>">
            <%= drink_order.drink_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/drink_orders/<%= drink_order.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/drink_orders/<%= drink_order.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_drink_order/<%= drink_order.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_drink_order" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for drink_id -->
      <div class="form-group">
        <label for="drink_id" class="control-label">
          Drink
        </label>

        <%= select_tag(:drink_id, options_from_collection_for_select(Drink.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for bar_id -->
      <input type="hidden" name="bar_id" value="<%= @bar.id %>">

      <button class="btn btn-block btn-success">
        Create Drink Order
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bar has many foods -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Foods
      </li>

      <% @bar.foods.each do |food_item| %>
        <li class="list-group-item">
          <a href="/food_items/<%= food_item.id %>">
            <%= food_item.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/food_items/<%= food_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/food_items/<%= food_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_food_item/<%= food_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Bar has many drinks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Drinks
      </li>

      <% @bar.drinks.each do |drink| %>
        <li class="list-group-item">
          <a href="/drinks/<%= drink.id %>">
            <%= drink.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/drinks/<%= drink.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/drinks/<%= drink.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_drink/<%= drink.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @bar.address_latitude %>,
        "lng": <%= @bar.address_longitude %>,
        "infowindow": "<h5><%= @bar.created_at %></h5><small><%= @bar.address_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>