<div class="page-header">
  <h3>Food Item #<%= @food_item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @food_item.name %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @food_item.image %>" class="img-responsive"></dd>

      <dt>Price</dt>
      <dd><%= @food_item.price %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/food_items" class="btn btn-primary">
        Back
      </a>
      <a href="/food_items/<%= @food_item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food_item/<%= @food_item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Food item has many food_orders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Food Orders
      </li>

      <% @food_item.food_orders.each do |food_order| %>
        <li class="list-group-item">
          <a href="/food_orders/<%= food_order.id %>">
            <%= food_order.food_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/food_orders/<%= food_order.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/food_orders/<%= food_order.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_food_order/<%= food_order.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_food_order" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <div class="form-group">
        <label for="food_id" class="control-label">
          Food
        </label>

        <%= select_tag(:food_id, options_from_collection_for_select(FoodItem.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for bar_id -->
      <div class="form-group">
        <label for="bar_id" class="control-label">
          Bar
        </label>

        <%= select_tag(:bar_id, options_from_collection_for_select(Bar.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Food Order
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Food item has many bars -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bars
      </li>

      <% @food_item.bars.each do |bar| %>
        <li class="list-group-item">
          <a href="/bars/<%= bar.id %>">
            <%= bar.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bars/<%= bar.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bars/<%= bar.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bar/<%= bar.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
