<div class="page-header">
  <h3>Drink Order #<%= @drink_order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Drink</dt>
      <dd><%= @drink_order.drink_id %></dd>

      <dt>Bar</dt>
      <dd><%= @drink_order.bar_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/drink_orders" class="btn btn-primary">
        Back
      </a>
      <a href="/drink_orders/<%= @drink_order.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_drink_order/<%= @drink_order.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
